* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;

  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  height: 350px;
  width: 500px;
  box-shadow: 0px 0px 10px #ccc;
  text-align: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tilte {
  text-align: center;
  width: 10px;
}
input {
  margin: 20px;
  width: calc(100% - 40px);
  box-sizing: border-box; 
  text-align: center; 
  padding: 5px;
  font-size: 25px;
}
.btn button {
  border: 1px solid #4e4e4efa;
  padding: 15px 30px;
  margin-right: 10px;
  background-color: #fff;
}
.btn button:hover {
  background-color: #ccc;
}
#checkbox{
  margin: 0px;
  padding: 0px;
}

.box{
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: row-reverse;
  gap: 6px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
@media(max-width:668px){
  .container{
    height: 300px;
    width: 400px;
  }

}
@media(max-width:468px){
  .container{
    height: 350px;
    width: 340px;
  }

    .btn button{
      padding: 5px  30px;
    }
    input{
      height: 35px
    };
}
.errodo{
box-shadow:0 0 20px red;
}
.acerto{
box-shadow: 0 0 20px rgb(0, 255, 34);
}